*{
    margin:0;
    padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2193b0, #6dd5ed);
  font-family: 'Poppins', 'Inter', sans-serif;
}


.container{
    background: #ffffff;
    color: #333;
    border-radius: 12px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container h1{
    margin-bottom: 10px;
    font-size: 50px;
    color:#056378 ;
}

.container button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #056378;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px;
}